[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/project_anneshon
ExecStart=/home/ubuntu/project_anneshon/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          projectpk.wsgi:application

[Install]
WantedBy=multi-user.target