.btn{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.text{
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 2px;
    margin:0px
}
.userinput {
    padding-top: 16px;
    padding-left: 4px;
    padding-right: 4px;
    height: 95px;
    margin: 0px;
}
.userinput label span {
    color: blue;
}
.userinput a {
    height: 0px;
}
.blockquote p {
    text-align: center;
}
.page {
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #ace7e2;
    margin-top:5px;
}
.page p {
    margin: 2px;
}
.bookpage {
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #db93cd;
    margin-top: 5px;
    margin-bottom: 5px;
}
.bookpage p {
    margin: 2px;
}
.bodyheader {
    background-color: #F7F1AB;
    margin-bottom: 5px;
}
.bodyheader div{
    padding: 0px;
}
.blogtitle {
    color: rgb(21, 91, 182);
}

.blogmeta {
    color: rgb(30, 157, 196);
    float:left;
}
.card-header {
    padding-bottom: 3px;
}