<!--Get the samples from https://www.adobe.com/go/pdfembedapi_samples-->
{% extends "base.html" %}
{% comment %} {% block title %}{% endblock title %} {% endcomment %}
{% block body %}
    <div style="padding-top:110px;">
        <div id="adobe-dc-view" style="height: 750px;"></div>
    </div>
    <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
    <script type="text/javascript">
      function base64ToArrayBuffer(base64) {
        // Refer the function implementation in link provided.
        var binaryString = atob(base64);
        var bytes = new Uint8Array(binaryString.length);
        for (var i = 0; i < binaryString.length; i++) {
          bytes[i] = binaryString.charCodeAt(i);
        }
        return bytes.buffer;
      }
      document.addEventListener("adobe_dc_view_sdk.ready", function () {
        var adobeDCView = new AdobeDC.View({
          clientId: "15915534567945508176f8c23452ebb7",
          divId: "adobe-dc-view",
        });
        adobeDCView.previewFile(
          {
            content: {
              promise: Promise.resolve(base64ToArrayBuffer("{{pdf_data_base64}}")),
            },
            metaData: { fileName: "{{filename}}"},
          },
          {}
        );
      });
    </script>
  {% endblock body %}
